.side-wrapper {
  background: rgba(255, 255, 255, 0.6);
  min-height: 125px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0 20px;
  text-align: center;
}
.task-card-inner {
  display: grid;
  grid-template-columns: 50px 1fr 0;
  align-items: center;
}
.form-card {
  width: 100%;
}
.completed {
  opacity: 0.5;
}
.completed-border {
  border-left: 2px solid var(--q-negative);
}
.uncompleted-border {
  border-left: 2px solid var(--q-positive);
}
.pin-icon {
  right: 5px;
  top: 7px;
  z-index: 10;
  cursor: pointer;
}
.move-icon {
  cursor: move;
}
